<div class="not-found">
    <span>@Code</span>
    <span>@Message</span>
</div>

@code {
    [Parameter]
    public string Code { get; set; } = "404";
    [Parameter]
    public string Message { get; set; } = "Sorry, there's nothing at this address.";

}