@using TemplateCQRS.Domain.Enums

<div class="not-found">
    <span>@((int) Code)</span>
    <span>@Message</span>
</div>

@code {
    [Parameter]
    public ApplicationStatusCode Code { get; set; } = ApplicationStatusCode.WebNotFound;
    [Parameter]
    public string Message { get; set; } = "Sorry, there's nothing at this address.";

}