/* Modal */

.modal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal-content {
    display: flex;
    padding: 5rem 0;
    animation: animatetop 0.5s linear forwards;
}

/* Modal Animation */
@keyframes animatetop {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}